@media (min-width: 60em) {
    header, footer {
        max-width: 960px;
    }
    
    main{
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 960px;
    }

    main section:nth-child(3) {
        grid-column: span 1;
    }

    main section img {
        width: 200px;
    }
}
