@media (min-width: 32.5em){


    header {
        padding: 5px 25px;
    }

    header h1 {
        font-size: 1.5rem;
    }


    .join {
        display: block;
    }

    /*
    nav ul li a {
        display: block;
        text-decoration: none;
        padding: 10px;
        color: #608708;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        border-top: none;
    }
    


    nav ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    nav ul li a {
        font-size: 1.3em;
        padding: 15px;
    }

    nav a:hover {
        background-color: #EFB514;
        color: white;
    }

    nav button {
        display: none;
    }
    
    .social {
        display: flex;
        justify-content: flex-end; 
     }

    header h1 {
        font-size: 40px;
    }
*/

}