header, footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1em;
  align-content: center;
  justify-content: center;
 /* font-weight: bold; */
  background-color: #1661B6;
  border-radius: 25px;
}

img {
  max-width: 200px;
  max-height: 100%;
  object-fit: cover;
  grid-column: 2/3;
  margin: 15px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

h1 {
  font-family: "Georgia", "Time New Roman", Serif;
  padding: 0.5em;
  line-height: 1em;
  /*margin-bottom: 10px;*/
  color: white;
  font-weight: bold;
  text-align: center;
  grid-column: 3/5;
}

main {
  grid-template-columns: repeat(3, 1fr);
}


li {
  font-family: "Georgia", "Time New Roman", Serif;
  font-size: 20px;
  line-height: 1.5;
}

.highlight {
	color: yellow;
}

p {
  font-family: "Georgia", "Time New Roman", Serif;
  color: white;
  text-align: center;
  grid-column: 2/5;
}